<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Memorable Event's|</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
<!-- header section starts  -->

<header class="header">

    <a href="" class="logo">Memorable <span>Event's</span></a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#gallery">gallery</a>
        <a href="#service">service</a>
        <a href="#price">price</a>
        <a href="#contact">contact</a>
        <a href="/booking">Booking</a>
        <a href="#review">review</a>
        <a href="#footer">about</a>
        
    </nav>

    <div id="menu-bars" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>its time to celebrate! the best <span>Memorable event organizers </span></h3>  
    </div>

    <div class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/slide-1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/slide-2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/slide-3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/slide-4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/slide-5.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/slide-6.jpg" alt=""></div>
            <div class="swiper-slide"><img src="img/r2.webp" alt=""></div>
        </div>
    </div>

</section>

<!-- home section ends -->

<section class="gallery" id="gallery">

    <h1 class="heading">our <span>Gallery</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="img/g-1.jpg" alt="">
            <h3 class="title">Dj Party'S</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-2.jpg" alt="">
            <h3 class="title">Wedding Celebrations</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-3.jpg" alt="">
            <h3 class="title">Party and HoliCelebration</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-4.jpg" alt="">
            <h3 class="title">Birthday Cake Cutting </h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-5.jpg" alt="">
            <h3 class="title">Wedding and events</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-6.jpg" alt="">
            <h3 class="title">Holi party and Events</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-7.jpg" alt="">
            <h3 class="title">Dj and Party'S</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-8.jpg" alt="">
            <h3 class="title">Memorable and Picture</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="img/g-9.jpg" alt="">
            <h3 class="title">collabration and Events</h3>
            <div class="icons">
                <a class="fas fa-heart"></a>
                <a class="fas fa-share"></a>
                <a class="fas fa-eye"></a>
            </div>
        </div>

    </div>

</section>


<section class="service" id="service">

    <h1 class="heading"> our <span>Services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Venue Selection</h3><br/><br/><br/>
            <p>Birthdays </p>
            <p>Weddings</p>   
            <p>concerts</p> 
            <p>destination weeding</p>
            <p>opening ceremony</p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>Invitation Card</h3><br/>
            <p> The template is an invitation card that can be used for events that are formal in nature. This template is being used for inviting attendees to a certain conference that is being held in a particular business firm. This template provides information regarding the conference and its time-bound activities to its invitees.            </p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>Entertainment</h3>
            <p>We Give the best Entertainment to cilents.we are conducting songs, party, Dj.</p>
            <P>Entertainment is a form of activity that holds the attention and interest of an audience or gives pleasure and delight. It can be an idea or a task, but is more likely to be one of the activities or events that have developed over thousands of years specifically for the purpose of keeping an audience's attention.</P>
        </div>

        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>Food and Drinks</h3><br/>
            <p>Our bar will serve both alcoholic and non-alcoholic drinks for your evening events as well as tea and coffee thoughout the day.</p>
            <p>Central to the South wing is our stunning new bar from which our friendly in-house bar staff will serve you and your guests. If wanted, we offer wine and beer packages.</p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>Photos and Videos</h3>
            <p>Photography and Vedios Coverage OF Your Events, MILESTONES & CELEBRATIONS Capture the highlights of your event with photo and video. Event recap videos and photo galleries are the best way to keep the buzz from your event flowing well past the conclusion of your event and are perfect assets to promote future events</p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>Custom Food</h3><br/>
            <p> Our Contracts include The Supply of Specialised Ingredients For Bakeries and Condiment Manufacturers as Well as Large Scale Spice Roasting for Established Food Service Providers. At The Custom Food Co. We are About Offering Complete Food Solutions for Your Food.</p>
        </div>

    </div>

</section>


<section class="price" id="price">

    <h1 class="heading"> our <span>Plan</span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">For Birthdays</h3>
            <h3 class="amount">₹20,000.00</h3></br></br>
            <ul>
                <li><i class="fas fa-check"></i>services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
               
            </ul>
            <a style="text-decoration: none ;" href="/booking" class="btn">Check Out</a>
        </div>

        <div class="box">
            <h3 class="title">For Weddings</h3>
            <h3 class="amount">₹35,000.00</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a style="text-decoration: none ;" href="/booking"class="btn">Check Out</a>
        </div>

        <div class="box">
            <h3 class="title">For Concerts</h3>
            <h3 class="amount">₹50,000.00</h3>
            <ul>
                <li> <i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a style="text-decoration: none ;" href="/booking" class="btn">Check Out</a>
        </div>

        <div class="box">
            <h3 class="title">For Others</h3>
            <h3 class="amount">₹75,000.00</h3>
            <ul>
                <li> <i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a style="text-decoration: none ;" href="/booking"class="btn">Check Out</a>
        </div>

    </div>

</section>

<!-- review section starts  -->

<section class="reivew" id="review"> 
    
    <h1 class="heading">client's <span>review</span></h1></br></br>

    <div class="review-slider swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
               
                <div class="user">
                    <img src="img/pic-1.png" alt="">
                    <div class="user-info">
                        <h3>David</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>I contacted Allied Party Rentals for two of my wedding events that required a stage. Compared to other companies I have spoken with they are extremely decently prices, very professional.</p>
            </div>

            <div class="swiper-slide box">
                
                <div class="user">
                    <img src="img/r3.jpeg" alt="">
                    <div class="user-info">
                        <h3>Cristine</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>This place was a life saver when last-minute party preparations are needed. They have a great inventory of anything usable for parties or like functions. Most of the staff is bilingual and extremely helpful..</p>
            </div>

            <div class="swiper-slide box">
               
                <div class="user">
                    <img src="img/r1.webp" alt="">
                    <div class="user-info">
                        <h3>Leo </h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p>This place has such a variety. But the best part was the great experience thanks to the wonderful staff that helped make our event a success. Our rep, Kristen was just knowledgeable and patient.</p>
            </div>

            <div class="swiper-slide box">
               
                <div class="user">
                    <img src="img/r4.jpeg" alt="">
                    <div class="user-info">
                        <h3>Smitha</h3>
                        <span>happy clients</span>
                    </div>
                </div>
                <p> They were in excellent condition and at a very, reasonable/competitive price. They worked directly with our wedding venue on the delivery and pick-up, which made things a lot easier for us..</p>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

   
    <form action="https://formspree.io/f/moqbjyyr" method="POST">

<label class="lbl1" style="color: white ;">
    user name
    <input class="inputBox" type="text" name="name" required>
  </label>

  <label class="lbl1" style="color: white ;">
    Your email Id
    <input class="inputBox" type="email" name="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" title="Eg-example@gmail.com">
  </label>

  <label class="lbl1" style="color: white ;">
    subject
    <input class="inputBox" type="text" name="subject" required>
  </label>
  
  <label class="lbl1" style="color: white ;" >
    your message
    <textarea name="message"></textarea required> 
  </label>
  
  <button class="btn" type="submit">Sendmessage</button>

</form>

</section>


<section class="footer" id="footer">

    <h1 class="heading"> About <span>Company</span> </h1>
</section>
<footer>
     <div class="footer-content">
        </div>
        <p class="info"> WE GIVE BEST EVENTS TO CLIENTS MAKE THEM EVERY SPECIAL IN THEM LIFE.</p>
          <p class="info"> LOVE CARRIES EMOTIOIN,THEN DREAM CARRIES STORY </p>
        <p class="info">support emails - varuntgowda8040@gmail.com,
            customersupport- varuntgowda8040@gmail.com</p>
        <p class="info">phonenumber - 935 5308 3655, 962 020 2672</p>
        <div class="footer-social-container">
           
        </div>
        </div>

</footer>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- theme toggler  -->

<div class="theme-toggler">

    <div class="toggle-btn">
        <i class="fas fa-cog"></i>
    </div>

    <h3>choose color</h3>

    <div class="buttons">
        <div class="theme-btn" style="background: #3867d6;"></div>
        <div class="theme-btn" style="background: #f7b731;"></div>
        <div class="theme-btn" style="background: #e100ff;"></div>
        <div class="theme-btn" style="background: #20bf6b;"></div>
        <div class="theme-btn" style="background: #fa8231;"></div>
        <div class="theme-btn" style="background: #08edf5;"></div>
    </div>

</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script>
    let menu = document.querySelector('#menu-bars');
let navbar = document.querySelector('.navbar');

menu.onclick = () =>{
  menu.classList.toggle('fa-times');
  navbar.classList.toggle('active');
}

let themeToggler = document.querySelector('.theme-toggler');
let toggleBtn = document.querySelector('.toggle-btn');

toggleBtn.onclick = () =>{
  themeToggler.classList.toggle('active');
}

window.onscroll = () =>{
  menu.classList.remove('fa-times');
  navbar.classList.remove('active');
  themeToggler.classList.remove('active');
}

document.querySelectorAll('.theme-toggler .theme-btn').forEach(btn =>{
  
  btn.onclick = () =>{
    let color = btn.style.background;
    document.querySelector(':root').style.setProperty('--main-color', color);
  }

});

var swiper = new Swiper(".home-slider", {
  effect: "coverflow",
  grabCursor: true,
  centeredSlides: true,
  slidesPerView: "auto",
  coverflowEffect: {
    rotate: 0,
    stretch: 0,
    depth: 100,
    modifier: 2,
    slideShadows: true,
  },
  loop:true,
  autoplay:{
    delay: 3000,
    disableOnInteraction:false,
  }
});

var swiper = new Swiper(".review-slider", {
    slidesPerView: 1,
    grabCursor: true,
    loop:true,
    spaceBetween: 10,
    breakpoints: {
      0: {
          slidesPerView: 1,
      },
      700: {
        slidesPerView: 2,
      },
      1050: {
        slidesPerView: 3,
      },    
    },
    autoplay:{
      delay: 5000,
      disableOnInteraction:false,
  }
});
</script>

</body>
</html>